{% load static %}

<html>
  <head>
    <link href="{% static 'home/index.css' %}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="navbar" >
      <div class="navbar-header" >
        <a href="/" class="navbar-home" >JOB SEARCH APP</a>
      </div>
      <a class="add-applicant" href="/applicant-form/">
        Apply
      </a>
    </div>
    <div class="search-bar" >
      <input
        type="text"
        id="search-input"
        class="search-input"
        placeholder="search"
      />
      <select
        class="search-category"
        id="search-based-on"
      >
        <option value="FirstName">First name</option>
        <option value="LastName">Last name</option>
        <option value="Age">Age</option>
      </select>
      <div class="search-button" onclick="searchForApplicant()">
        Search
      </div>
    </div>
    <div class="list-header" >
      List of all applicants
    </div>
    {% if searchResult == True %}
      Search Results
    {% endif %}
    <div class="all-applicants" >
      {% for applicant in allApplicants %}
          <div class="applicant" >
            <div class="applicant-name" >
              {{applicant.FirstName}} {{applicant.LastName}} - {{applicant.Age}} - {{applicant.Job_Position}}
            </div>
          </div>
      {% endfor %}
    </div>
  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
  <script src="{% static 'home/index.js' %}"></script>
</html>
